.animal-image {
  height: 200px;
  width: 300px;
  padding-bottom: 5px;
}

.fun-fact {
  font-style: italic;
}

.label {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.card-content {
  border: .5px solid #d3d3d3;
  width: 350px;
  box-shadow: 10px 10px #d3d3d3;
}

.primary-content {
  border: 1px solid #d3d3d3;
  padding: .5rem;
}

.information {
  border: 1px solid #d3d3d3;
  padding: .5rem;
}
