h3 {
  padding: 3px 0;
}

.animal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 300px;
  padding-bottom: 5px;
}

.fun-fact {
  font-style: italic;
}

.label {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.card-content {
  border: 1px solid #d3d3d3;
  width: 300px;
  display: inline-block;
  padding: 5px 20px 10px 20px;
  box-shadow: 10px 10px #d3d3d3;
}

.information {
  border: 1px solid #d3d3d3;
  padding: .5rem;
}
